<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="XL_DICH_VU_ASMXSoap"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:7751/XL_DICH_VU_ASMX.asmx" binding="basicHttpBinding" bindingConfiguration="XL_DICH_VU_ASMXSoap" contract="DV_ASMX_Thu_nghiem.XL_DICH_VU_ASMXSoap" name="XL_DICH_VU_ASMXSoap"/>
        </client>
    </system.serviceModel>
</configuration>
